.login{
  width: 600px;
  margin:  0 auto;
  padding-top: 300px;
  .text{
    padding: 20px 0;
    view,text{
      text-align: center;
      line-height: 2em;
    }
    view{
      font-size: 60px;
    }
    text{
      color: #c2c2c2;
    }
  }
}